{% extends 'base.html' %}
{% block title %}Completed Tasks{% endblock title %}
{% block content %}
{% if data %}
<h1>Completed Tasks:</h1>
<table class="table table-hover table-bordered align-middle">
  <thead>
    <tr class="align-middle">
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
    </tr>
      </thead>
      <tbody>
        {% for item in data %}
            <tr>
                <td>{{item.taskTitle}}</td>
                <td>{{item.taskDescription}}</td>
                <td>Completed</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1>No Completed Tasks To Show</h1>
{% endif %}
{% endblock content %}